<shared-loading-indicator *ngIf="!player"
  >Loading player data
</shared-loading-indicator>

<div class="player-information-panel fade-in" *ngIf="player">
  <div class="player-info">
    <div>
      <div class="card-header dark-grey-background">
        <div>{{ player.name }}</div>
        <h5>{{ player.tag }}</h5>
      </div>
      <div class="top-level-information">
        <div>
          <div>
            <h6>Trophies</h6>
            <div class="icon-value-pair">
              <i class="h3">emoji_events</i>
              <h5>{{ player.trophies }}</h5>
            </div>
          </div>
          <div>
            <h6>Best trophies</h6>
            <div class="icon-value-pair">
              <i class="h3 outlined">emoji_events</i>
              <h5>{{ player.bestTrophies }}</h5>
            </div>
          </div>
        </div>
        <div>
          <div>
            <h6>Level</h6>
            <div class="icon-value-pair">
              <i class="h3 outlined">star</i>
              <h5>{{ player.expLevel }}</h5>
            </div>
          </div>
          <div>
            <h6>Clan</h6>
            <div class="icon-value-pair">
              <i class="h3">military_tech</i>
              <div>
                <a (click)="navigateToClan(player.clan.tag)">
                  {{ player.clan.tag }}
                </a>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div>
            <h6></h6>
          </div>
        </div>
      </div>
      <mat-divider></mat-divider>
      <h5>
        Ladder win/loss ratio:
        {{ player.wins / player.losses | number: '1.0-2' }}
      </h5>
      <shared-win-loss-chart
        [wins]="player.wins"
        [losses]="player.losses"
        [totalBattles]="player.wins + player.losses"
        [showKey]="false"
      ></shared-win-loss-chart>
      <!-- <mat-divider></mat-divider> -->
    </div>
    <div>
      <div class="card-header dark-grey-background">Current deck</div>
      <player-deck [playerDeck]="player.currentDeck"></player-deck>
    </div>
  </div>
</div>
