:host {
  display: block;
  position: relative;
}

.clear-icon {
  position: absolute;
  right: 0;
  opacity: 0;
  pointer-events: none;
  color: rgba(255, 255, 255, 0.6);
  margin: 0.5rem 0.5rem 0.5rem 0;
  cursor: pointer;

  &--show {
    opacity: 1;
    pointer-events: all;
  }

  &:hover {
    color: rgba(255, 255, 255, 0.8);
  }
}
