:host {
  display: block;
  width: 100%;
  padding: 1.6rem 0;
}

.loading-indicator-container {
  width: fit-content;
  margin: auto;
  text-align: center;
}

mat-progress-bar {
  margin-left: -1.6rem;
  margin-top: 0.8em;
  width: calc(100% + 3.2rem);
}

.apply-vertical-margin {
  padding: 8rem 0;
}
