.clan-current-war-details {
  >*+* {
    margin-top: 0.8rem;
  }
}

.clan-war-clan {
  >*+* {
    margin-top: 0.8rem;
  }
}

shared-win-loss-chart {
  display: block;
}

.clan-war-clan {
  >*+* {
    margin-top: 0.4rem;
  }

  >div {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
}

mat-divider {
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}

.collection-day-stats-bar {
  display: flex;
  flex-flow: row nowrap;
}

.collection-day-participant {
  >*+* {
    margin-top: 0.8rem;
  }
}

.clan-war-info-and-battles-bar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  >div {
    width: 5.6rem;
  }

  shared-win-loss-chart {
    flex: 1 1 auto;
  }

  >*+* {
    margin-left: 1.6rem;
  }
}
