@import '../../../../styles/colors.scss';


.participation-bar {
  position: relative;
  display: flex;
  flex-flow: nowrap;
  height: 1.6em;
  background-color: $light-grey;
  border-radius: 0.4em;
  overflow: hidden;

  .participation-bar-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 0.2em 0.05em rgba(0, 0, 0, 0.2);
    border-radius: 0.4em;
  }

  >* {
    height: 100%;
  }
}

.warlog-item-label-and-value-pair {

  h6+* {
    margin-top: 0.2em;
  }

  >div {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    >*+* {
      margin-left: 0.4em;
    }

    i {
      border-radius: 0.2em;
      padding: 0.1em;
      box-shadow: inset 0 0 0.2em 0.05em rgba(0, 0, 0, 0.2);
    }
  }
}
