<shared-loading-indicator *ngIf="!clanWarData && !currentlyNotInWar">Retrieving war data</shared-loading-indicator>
<h4 *ngIf="currentlyNotInWar">No active war</h4>
<div *ngIf="clanWarData" class="clan-current-war-details fade-in">
  <div class="card-header">
    <h4>{{clanWarData.stateFormatted}}</h4>
  </div>
  <ng-container *ngIf="clanWarData.state === 'warDay'">
    <shared-win-loss-chart [wins]="clanWarData.clan.wins" [losses]="clanWarData.clan.losses"
      [totalBattles]="clanWarData.highestNumberOfParticipants" [showKey]="true">
    </shared-win-loss-chart>
    <mat-divider class="dashed"></mat-divider>
    <div class="clan-war-clan" *ngFor="let clan of clanWarData.clans; let i = index">
      <mat-divider class="dashed small" *ngIf="i > 0"></mat-divider>
      <div>
        <h5>{{clan.rank}} - {{clan.name}}</h5>
      </div>
      <div class="clan-war-info-and-battles-bar">
        <shared-win-loss-chart [wins]="clan.wins" [losses]="clan.losses"
          [totalBattles]="clanWarData.highestNumberOfParticipants" [showKey]="false">
        </shared-win-loss-chart>
        <button mat-icon-button (click)="navigateToClanWarOverviewPage(clan.tag)"><i>bar_chart</i></button>
      </div>
      <h6>Remaining battles: {{clanWarData.highestNumberOfParticipants - clan.battlesPlayed}}</h6>
    </div>
  </ng-container>
  <ng-container *ngIf="clanWarData.state === 'collectionDay'">
    <shared-win-loss-chart [wins]="clanWarData.clan.wins" [losses]="clanWarData.clan.losses"
      [totalBattles]="clanWarData.clan.participants * 3"></shared-win-loss-chart>
    <div class="collection-day-stats-bar">
      <div>
        <h6>Wins</h6>
        <h5>{{clanWarData.clan.wins}}</h5>
      </div>
      <div>
        <h6>Losses</h6>
        <h5>{{clanWarData.clan.losses}}</h5>
      </div>
      <div>
        <h6>Participants</h6>
        <h5>{{clanWarData.clan.participants}}</h5>
      </div>
    </div>
    <div class="card-header">
      <h4>Top participants</h4>
    </div>
    <div class="collection-day-participant" *ngFor="let participant of clanWarData.participants; let index = index;">
      <mat-divider *ngIf="index > 0"></mat-divider>
      <h5>{{participant.name}}</h5>
      <div class="clan-war-info-and-battles-bar">
        <div>
          <h6>Cards earned</h6>
          <div class="icon-value-pair">
            <i>view_carousel</i>
            <h5>{{participant.cardsEarned}}</h5>
          </div>
        </div>
        <shared-win-loss-chart [wins]="participant.wins" [losses]="participant.losses"
          [totalBattles]="participant.numberOfBattles"></shared-win-loss-chart>
        <button mat-icon-button><i>bar_chart</i></button>
      </div>
    </div>
  </ng-container>
</div>
