@import '../../../styles/colors.scss';

header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  height: 4.8rem;
  background-color: $black;
  color: $white;
  box-shadow: 0rem 0.2rem 0.4rem 0.2rem rgba(0, 0, 0, 0.2);
  padding: 0.8rem;
  border-bottom: 4px solid $dark-grey;
  box-sizing: border-box;

  * {
    color: rgba(255, 255, 255, 0.9);
  }

  a {
    text-decoration: none;
  }
}
