@import '../../../styles/colors.scss';

header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  height: 4.8rem;
  background-color: $black;
  color: $white;
  padding: 0.8rem;
  box-sizing: border-box;

  * {
    color: rgba(255, 255, 255, 0.9);
  }

  a {
    text-decoration: none;
  }
}
