<div class="card-header-small dark-grey-background">
  <h6>Boat race participants</h6>
  <h6>Avg fame: {{ clan.averageParticipantsFame }}</h6>
  <h6>Avg repairs: {{ clan.averageParticipantsRepairs }}</h6>
</div>
<div class="participant-list">
  <ng-container
    *ngFor="let participant of clan.participants; let index = index"
  >
    <mat-divider *ngIf="index > 0"></mat-divider>
    <div class="participant-row">
      <div>#{{ index + 1 }}</div>
      <div
        class="align-right"
        *ngIf="
          clanMembersIndexedByTag && clanMembersIndexedByTag[participant.tag]
        "
      >
        <h6
          *ngIf="
            clanMembersIndexedByTag[participant.tag].lastSeenTimeAgo.length
          "
        >
          {{ clanMembersIndexedByTag[participant.tag].lastSeenTimeAgo[0] }}
          {{
            clanMembersIndexedByTag[participant.tag].lastSeenTimeAgo[1]
              ? clanMembersIndexedByTag[participant.tag].lastSeenTimeAgo[1]
              : ''
          }}
        </h6>
        <h6
          *ngIf="
            clanMembersIndexedByTag[participant.tag].lastSeenTimeAgo.length ===
            0
          "
          class="green-text"
        >
          Online
        </h6>
      </div>
      <div class="name-element">
        <a (click)="navigateToPlayer(participant.tag)">
          {{ participant.name }}
        </a>
        <h6
          *ngIf="
            clanMembersIndexedByTag && clanMembersIndexedByTag[participant.tag]
          "
        >
          {{ clanMembersIndexedByTag[participant.tag].roleFormatted }}
        </h6>
      </div>
      <div>
        <div
          class="icon-value-pair"
          [ngClass]="{
            'green-text': participant.fame > clan.averageParticipantsFame
          }"
        >
          <i class="small-icon outlined">military_tech</i>
          <div>
            {{ participant.fame }}
          </div>
          <h6 *ngIf="participant.fame > 0">
            ({{ participant.fame / clan.fame | percent: '1.0-2' }})
          </h6>
        </div>
        <mat-progress-bar
          [value]="
            (participant.fame / (clan.fame / clan.averageParticipantsFame)) *
            100
          "
        ></mat-progress-bar>
      </div>
      <div
        class="icon-value-pair"
        [ngClass]="{
          'green-text':
            participant.repairPoints > clan.averageParticipantsRepairs
        }"
      >
        <i class="small-icon">directions_boat</i>
        <div>{{ participant.repairPoints }}</div>
        <h6 *ngIf="participant.repairPoints > 0" class="hide-when-below-800">
          ({{
            participant.repairPoints / clan.repairPoints | percent: '1.0-2'
          }})
        </h6>
      </div>
      <div
        class="icon-value-pair"
        *ngIf="
          clanMembersIndexedByTag && clanMembersIndexedByTag[participant.tag]
        "
      >
        <i>star</i>
        <div>{{ clanMembersIndexedByTag[participant.tag].expLevel }}</div>
      </div>
      <!-- <div>
        <button
          mat-icon-button
          (click)="toggleExpandedPlayer(participant.tag)"
          [ngClass]="{
            'dark-grey-background': expandedPlayerTag === participant.tag
          }"
        >
          <i>
            {{
              expandedPlayerTag !== participant.tag
                ? 'keyboard_arrow_down'
                : 'keyboard_arrow_up'
            }}
          </i>
        </button>
      </div> -->
    </div>
    <div *ngIf="expandedPlayerTag === participant.tag">
      <mat-divider class="dashed"></mat-divider>
      <clan-member-top-level-info
        *ngIf="
          clanMembersIndexedByTag && clanMembersIndexedByTag[participant.tag]
        "
        [clanMember]="clanMembersIndexedByTag[participant.tag]"
      ></clan-member-top-level-info>
    </div>
  </ng-container>
</div>
