@import '../../../../styles/colors.scss';

// mat-card {
//   position: relative;
//   max-width: 20rem;
// }

// .card-header-small {
//   position: absolute;
//   width: calc(100% - 3.2rem);
// }

:host {
  display: block;
}

div.cards-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 0 -1.6rem;
  padding: 0.4rem 0.8rem;

  > * {
    margin: 0;
  }
}

mat-card.mat-card {
  position: relative;
  border-radius: 1.6rem;
  border: none;
  box-shadow: 0 0 0.8rem 0rem rgba(0, 0, 0, 0.5);
  cursor: pointer;
  // border-top-left-radius: 50% 2.4rem;
  // border-top-right-radius: 50% 2.4rem;
  // border-bottom-left-radius: 50% 2.4rem;
  // border-bottom-right-radius: 50% 2.4rem;
}

div.card-header-small {
  padding: 0.4rem 0 0.8rem;
}

.player-card {
  width: calc(25% - 0.8rem);
  padding: 0;
  margin-bottom: 1.6rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 0.4rem;
  position: relative;

  > img {
    width: 100%;
  }

  .player-name-label {
    position: absolute;
    background-color: rgba($card-header-background, 0.8);
    color: rgba(255, 255, 255, 0.9);
    left: 10%;
    right: 11%;
    bottom: 15%;
    text-align: center;
    padding: 0.4rem 0;

    > h6 {
      color: rgba(255, 255, 255, 0.8);
    }
  }
}

.player-card-image-container {
  position: relative;
  border-bottom-right-radius: 50% 20%;
  border-bottom-left-radius: 50% 20%;
  border-top-left-radius: 50% 20%;
  border-top-right-radius: 50% 20%;
  margin: 0.8rem 0.8rem;
  border: 2px solid rgba(255, 255, 255, 0.4);
  overflow: hidden;

  .card-picture-border {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 0.2rem solid $card-header-background;
    border-bottom: none;
    border-top-left-radius: 50% 2.4rem;
    border-top-right-radius: 50% 2.4rem;
  }

  // &:after {
  //   content: '';
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   right: 0;
  //   bottom: 0;
  //   border: 0.2rem solid #393e46;
  // }
}

.player-card-image {
  width: 100%;
  // width: 145%;
  // margin: -25% 0 -28%;
  // margin-left: -21%;
}

.player-card-label {
  padding: 0.4rem 0 0.8rem;
  bottom: 0;
  width: 100%;
  z-index: 1;
}

.player-card-star-level {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.2rem;
  border-top-left-radius: 0.4rem;
  background-color: $card-header-background;
  margin-bottom: -0.2rem;

  > i {
    font-size: 1rem;
    color: $yellow;
  }
}
