@import './colors.scss';

.full-width-button {
  width: 100%;
}

button {
  transition: all 0.2s ease-in-out;
}

button[mat-mini-fab] {
  * {
    color: rgba(255, 255, 255, 0.8) !important;
  }
}

button.mat-raised-button,
button.mat-stroked-button {
  min-width: 0;
  padding: 0.4rem 1.6rem;
  border-radius: 0.4rem;
  line-height: 1;
  font-size: unset;
  text-transform: uppercase;
  font-weight: bold;
  min-height: 2.4rem;

  .mat-button-wrapper > * + * {
    margin-top: 0.4rem;
  }
}

button[mat-raised-button] {
  * {
    color: rgba(255, 255, 255, 0.9);
  }
}

button[mat-stroked-button] {
  border-color: rgba(0, 0, 0, 0.2);
  background: white;
}

button.mat-icon-button {
  background: rgba(255, 255, 255, 0.9);
  width: 2.4rem;
  height: 2.4rem;
  line-height: 1;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

[mat-icon-button] {
  .mat-button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    i {
      line-height: 1;
    }
  }
}

.toggle-button-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;

  > button:not(:first-child) {
    border-radius: 0;
    border-left: none;
  }

  > button:first-child {
    border-radius: 0.4rem 0 0 0.4rem;
  }

  > button:last-child {
    border-radius: 0 0.4rem 0.4rem 0;
  }
}

a {
  position: relative;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
  font-weight: 600;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
  max-width: 100%;
  border-radius: 0.4rem;

  &:hover {
    background-color: $card-header-background;
    color: rgba(255, 255, 255, 0.9);
    padding: 0.2rem 0.4rem;
    margin: -0.2rem -0.4rem;
  }
}
