@import './colors.scss';

[mat-mini-fab] {
  background-color: $dark-grey !important;

  * {
    color: rgba(255, 255, 255, 0.8) !important;
  }
}

[mat-raised-button],
[mat-stroked-button] {
  min-width: 6.4em !important;
  padding: 0.6em 1.6em !important;
  line-height: 1 !important;
  font-size: unset !important;
}
