.cards-grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0.8em;

  mat-card {
    margin: 0.8em;
  }
}

mat-card {
  padding: 0.8em 1.6em !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) !important;
  transition: 0.3s;
  overflow: hidden;

  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2) !important;
  }

  mat-divider.mat-divider {
    position: relative !important;
    margin-left: -1.6em;
    width: calc(100% + 3.2em) !important;
  }

  mat-tab-group.mat-tab-group {
    margin-left: -1.6em;
    margin-right: -1.6em;
    margin-bottom: -0.8em;

    .mat-tab-header {
      border: 0 solid rgba(255, 255, 255, 0.3) !important;
      overflow: unset;
      background-color: $dark-grey;

      *,
      .mat-tab-header {
        border-color: rgba(255, 255, 255, 0.2) !important;
      }

      *:not(i),
      .mat-tab-label>.mat-tab-label-content {
        color: rgba(255, 255, 255, 0.9) !important;
      }

      h6 {
        color: rgba(255, 255, 255, 0.4) !important;
      }
    }

    .mat-tab-label-container {
      overflow: unset;
    }

    .mat-tab-label {
      height: unset !important;
      min-width: unset;

      &.mat-tab-label-active {
        background-color: rgba(0, 0, 0, 0.2);
      }
    }

    .mat-tab-label-content {
      margin: 0.8em 0;
      user-select: none;
      color: rgba(0, 0, 0, 0.8) !important;
    }

    .mat-tab-body {
      padding: 0.8em 1.6em;
    }

    .mat-tab-body-content {
      overflow: unset;

      >* {
        display: inline-block;
        width: 100%;
      }
    }

    .mat-ink-bar {
      background-color: rgba(255, 255, 255, 0.7) !important;
      height: 0.3em;
      border-radius: 0.2em 0.2em 0 0 !important;
      transform: rotateY(45deg);
    }
  }

  table {
    margin: 0 -1.6em -0.8em !important;
    width: calc(100% + 3.2rem);
  }
}
