.cards-grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0.4rem;

  mat-card {
    margin: 0.4rem;
  }
}

mat-card.mat-card {
  padding: 0.8rem 1.6rem;
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  overflow: hidden;

  mat-divider.mat-divider {
    position: relative;
    margin-left: -1.6rem;
    width: calc(100% + 3.2rem);
  }

  table {
    margin: 0 -1.6rem -0.8rem;
    width: calc(100% + 3.2rem);
  }
}

.card-header,
.card-header-small {
  margin: -0.8rem -1.6rem 0;
  padding: 0.8rem 1.6rem;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  justify-content: space-between;

  > * + * {
    margin-left: 1.6rem;
  }

  + div.card-header-small,
  > * {
    margin-top: 0;
  }
}

.card-header + .card-header-small {
  margin-top: 0;
}

.card-header-small {
  padding: 0.8rem 1.6rem;
}

.card-header {
  .mat-form-field-underline {
    background-color: rgba(255, 255, 255, 0.8) !important;
  }

  .mat-form-field-ripple {
    background-color: rgba(255, 255, 255, 0.8) !important;
  }

  input {
    caret-color: rgba(255, 255, 255, 0.8) !important;
  }
}
