.cards-grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0.4rem;

  mat-card {
    margin: 0.4rem;
  }
}

mat-card {
  padding: 0.8rem 1.6rem !important;
  box-shadow: none !important;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  overflow: hidden;

  mat-divider.mat-divider {
    position: relative !important;
    margin-left: -1.6rem;
    width: calc(100% + 3.2rem) !important;
  }

  mat-tab-group.mat-tab-group {
    margin-left: -1.6rem;
    margin-right: -1.6rem;
    margin-bottom: -0.8rem;

    .mat-tab-header {
      border-top: 1px solid rgba(0, 0, 0, 0.1) !important;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
      // overflow: unset;
      // background-color: $dark-grey;

      // *,
      // .mat-tab-header {
      //   border-color: rgba(255, 255, 255, 0.2) !important;
      // }

      // *:not(i),
      // .mat-tab-label>.mat-tab-label-content {
      //   color: rgba(255, 255, 255, 0.9) !important;
      // }

      // h6 {
      //   color: rgba(255, 255, 255, 0.4) !important;
      // }
    }

    .mat-tab-label-container {
      overflow: unset;
    }

    .mat-tab-label {
      height: unset !important;
      min-width: unset;
      padding: 0 1.6rem;

      // &.mat-tab-label-active {
      //   background-color: rgba(0, 0, 0, 0.2);
      // }
    }

    .mat-tab-label-content {
      margin: 0.4rem 0;
      user-select: none;
      // color: rgba(0, 0, 0, 0.8) !important;
    }

    .mat-tab-body {
      padding: 0.8rem 1.6rem;
    }

    .mat-tab-body-content {
      overflow: unset;

      >* {
        display: inline-block;
        width: 100%;
      }
    }

    .mat-ink-bar {
      background-color: $dark-grey !important;
      height: 0.2rem;
      border-radius: 0.2rem 0.2rem 0 0 !important;
      transform: rotateY(45deg);
    }
  }

  table {
    margin: 0 -1.6rem -0.8rem !important;
    width: calc(100% + 3.2rem);
  }
}

.card-header {
  margin: -0.8rem -1.6rem 0;
  padding: 0.8rem 1.6rem;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  justify-content: space-between;
  // height: 2.6em;

  >*+* {
    margin-left: 1.6rem;
  }
}
