$black: #272D2D;
$dark-grey: #393e46;
$light-grey: #E7E5DF;
$white: #F6F8FF;
$light-blue: #009FFD;
$dark-blue: #153243;
$silver-grey: #eeeeee;
$yellow: #EEC444;
$red: #f44336;
$orange: #F0A202;
$green: #4caf50;
