$black: #272d2d;
$dark-grey: #393e46;
$light-grey: #e7e5df;
$white: #f6f8ff;
$light-blue: #009ffd;
$dark-blue: #153243;
$silver-grey: #eeeeee;
$yellow: #eec444;
$red: #f44336;
$orange: #f0a202;
$green: #4caf50;

$warning: #fed872;

$background: #f5f5f5;
$card-background: white;
$card-background-accent: #ebebeb;
$card-header-background: #393e46;
