@import './colors.scss';

html {
  position: relative;
}

body {
  margin: 0;
  background-color: $silver-grey;
  min-height: 100vh;
}

.red-background {
  background-color: $red;
}

.green-background {
  background-color: $green;
}

.light-grey-background {
  background-color: $light-grey;
}

.dark-grey-background,
.mat-stroked-button.dark-grey-background {
  background-color: $dark-grey;
}

.dark-blue-background {
  background-color: $dark-blue;
}

.dark-grey-background,
.dark-blue-background,
.mat-stroked-button.dark-grey-background {
  color: rgba(255, 255, 255, 0.9);

  .mat-select-value {
    color: rgba(255, 255, 255, 0.9);
  }

  input ~ i,
  h6,
  .mat-select-arrow,
  i {
    color: rgba(255, 255, 255, 0.6);
  }
}

.mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple) {
  background-color: $dark-grey;
  color: rgba(255, 255, 255, 0.9);
}

.icon-value-pair {
  display: flex;
  flex-flow: nowrap;
  align-items: center;

  > * {
    margin-top: 0;
  }

  > * + * {
    margin-left: 0.4rem;
  }
}

mat-divider {
  &.dashed {
    border-top-style: dashed;
  }

  &.dotted {
    border-top-style: dotted;
  }

  &.mat-divider-horizontal.small {
    width: 100% !important;
    margin-left: 0;
  }
}

mat-progress-bar.mat-progress-bar {
  height: 0.8rem;
  border-radius: 0.4rem;
}

.mat-form-field-infix {
  border-top-width: 0 !important;
}

.mat-form-field-wrapper {
  padding-bottom: 0 !important;
}

.mat-form-field-underline {
  bottom: 0 !important;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 0.2s linear 0s 1 forwards;
}

.row-nowrap {
  display: flex;
  flex-flow: row nowrap;
  margin-left: -1.6rem;

  > * {
    margin-left: 1.6rem;
  }
}

.align-right {
  text-align: right;
  justify-content: flex-end;
}

.button-row,
.input-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;

  &.input-row {
    margin: 0 0 0 -1.6rem;
    > * {
      padding-top: 0.8rem;
      padding-left: 1.6rem;
    }
  }

  & .input-row {
    margin: 0;
  }

  &.button-row {
    align-items: center;
    margin: 0.4rem -0.4rem -0.4rem;

    > * {
      margin: 0.4rem;
    }
  }

  + * {
    margin-top: 0;
  }
}
