@import './colors.scss';

html {
  position: relative;
}

body {
  margin: 0;
  background-color: $background;
  min-height: 100vh;
}

mat-card.mat-card {
  background-color: $card-background;
}

.red-background {
  background-color: $red;
}

.green-background {
  background-color: $green;
}

.light-grey-background,
.mat-progress-bar-buffer {
  background-color: $light-grey;
}

.warning-background {
  background-color: $warning;
}

.dark-grey-background,
.mat-stroked-button.dark-grey-background,
button.mat-icon-button.dark-grey-background,
button[mat-mini-fab],
button[mat-raised-button],
button[mat-raised-button].mat-stroked-button,
mat-select.mat-select.dark-grey-background,
.mat-progress-bar-fill::after,
mat-card.mat-card.dark-grey-background {
  background-color: $card-header-background;
}

.dark-blue-background {
  background-color: $dark-blue;
}

.dark-grey-background,
.dark-blue-background,
.mat-stroked-button.dark-grey-background,
mat-card.mat-card.dark-grey-background {
  color: rgba(255, 255, 255, 0.9);

  .mat-select-value {
    color: rgba(255, 255, 255, 0.9);
  }

  input ~ i,
  h6,
  .mat-select-arrow,
  i {
    color: rgba(255, 255, 255, 0.6);
  }
}

.mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple) {
  background-color: $card-header-background;
  color: rgba(255, 255, 255, 0.9);
}

.icon-value-pair {
  display: flex;
  flex-flow: nowrap;
  align-items: center;

  > *,
  > h6 + *,
  > h6 + i,
  > .h6 + *,
  > .h6 + h6 {
    margin-top: 0;
  }

  > * + * {
    margin-left: 0.4rem;
  }
}

mat-divider {
  &.dashed {
    border-top-style: dashed;
  }

  &.dotted {
    border-top-style: dotted;
  }

  &.mat-divider-horizontal.small {
    width: 100% !important;
    margin-left: 0;
  }
}

mat-progress-bar.mat-progress-bar {
  height: 0.8rem;
  border-radius: 0.4rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}

.mat-form-field-infix {
  border-top-width: 0 !important;
}

.mat-form-field-wrapper {
  padding-bottom: 0 !important;
}

.mat-form-field-underline {
  bottom: 0 !important;
}

@keyframes fadeIn {
  0% {
  }

  99% {
  }

  100% {
  }
}

.fade-in {
  animation: fadeIn 0.2s linear 0s 1 forwards;
}

.row-nowrap {
  display: flex;
  flex-flow: row nowrap;
  margin-left: -1.6rem;

  > * {
    margin-left: 1.6rem;
    margin-top: 0 !important;
  }

  > .row-nowrap {
    margin-left: 0;
  }
}

.align-right {
  text-align: right;
  justify-content: flex-end;
}

.align-center {
  text-align: center;
  justify-content: center;
}

.button-row,
.input-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;

  &.input-row {
    margin: 0 0 0 -1.6rem;
    > * {
      padding-top: 0.8rem;
      padding-left: 1.6rem;
    }
  }

  & .input-row {
    margin: 0;
  }

  &.button-row {
    align-items: center;
    margin: -0.4rem -1.6rem -0.8rem;
    width: calc(100% + 3.2rm);
    padding: 0.4rem 0.8rem;
    background-color: $background;
    border-top: 1px dotted rgba(0, 0, 0, 0.1);

    > {
      *,
      button {
        margin: 0.4rem 0.8rem;
      }
    }
  }
}

.elevate-z {
  z-index: 3;
  position: relative;
  background-color: $card-background;
}

.display-none {
  display: none;
}

.display-inline-block {
  display: inline-block;
}

.cursor-pointer {
  cursor: pointer;
}
