mat-table,
table[mat-table] {
  background: unset !important;
}

mat-header-row,
tr.mat-header-row[mat-header-row],
mat-row,
tr[mat-row],
tr.mat-row[mat-row] {
  height: unset;
}

mat-cell.mat-cell,
td[mat-cell].mat-cell {
  padding: 0.8rem 0 0.8rem 0.8rem;

  > div {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    > * + * {
      margin-left: 0.2rem;
    }
  }
}

mat-header-cell.mat-header-cell,
th[mat-header-cell].mat-header-cell {
  padding: 0.8rem 0 0.8rem 0.8rem;
  vertical-align: top;

  &.align-right > * {
    margin-right: -18px;
  }

  background-color: $card-header-background;

  *,
  .mat-tab-header {
    border-color: rgba(255, 255, 255, 0.2);
  }

  *:not(i),
  .mat-tab-label > .mat-tab-label-content {
    color: rgba(255, 255, 255, 0.9);
  }

  h6 {
    color: rgba(255, 255, 255, 0.4) !important;
  }
}

mat-cell,
td.mat-cell[mat-cell],
mat-header-cell,
th.mat-header-cell[mat-header-cell] {
  font-size: unset !important;
  white-space: nowrap;

  &.align-right {
    padding-right: 0.8rem;

    &,
    & * {
      text-align: right;
    }

    > * {
      width: fit-content;
      margin-left: auto;
    }
  }

  &:first-of-type {
    padding-left: 1.6rem;
  }

  &:last-of-type {
    padding-right: 1.6rem;
  }
}
