@import './colors.scss';
@import './typography.scss';

input {
  height: 3.2rem;
  width: 12.8rem;
  padding: 0 0.8rem;
  background-color: white;
  border-radius: 0.4rem;
  color: rgba(0, 0, 0, 0.9);
  outline: none;
  border: 0.2rem solid $light-grey;
  transition: all 0.2s;
  box-sizing: border-box;

  &:focus:not(.hide-focus-color) {
    border-color: $light-blue;
  }

  &.invalid {
    border-color: $red;
  }
}

// input.mat-input-element {
//   caret-color: rgba(255, 255, 255, 0.9);


// }

//   &.mat-form-field-should-float {
//     // .mat-form-field-wrapper {
//     //   padding-top: 1.1rem;
//     // }
//   }
// }

// .mat-form-field-underline {
//   display: none;
// }

// label.mat-form-field-label {
//   margin-left: 0.4rem;
// }

// div.mat-form-field-wrapper {
//   transition: padding 0.2s linear;
//   padding: 0rem;

//   div.mat-form-field-infix {
//     padding: 0rem;
//   }
// }

// div.mat-form-field-flex {
//   display: flex;
//   align-items: center;
//   padding: 0;
// }


// .mat-form-field-suffix {
//   display: contents;
// }
