@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;1,400&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Outlined');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Two+Tone');
@import './colors.scss';

html {
  font-size: 100%;
}

/*16px*/

body {
  background-color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  line-height: 1.1;

  * {
    color: rgba(0, 0, 0, 0.7);
  }

  th,
  td {
    color: rgba(0, 0, 0, 0.7) !important;
  }
}

@media only screen and (max-width: 800px) {
  html {
    font-size: 80%;
  }
}

@media only screen and (max-width: 440px) {
  html {
    font-size: 70%;
  }
}

p {
  margin-bottom: 1.15rem;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin: 0;
  font-weight: 400;
  line-height: 1;
}

h1,
.h1 {
  margin-top: 0;
  font-size: 3.052em;
}

h2,
.h2 {
  font-size: 2.441em;
}

h3,
.h3 {
  font-size: 1.953em;
}

h4,
.h4 {
  font-size: 1.563em;
}

h5,
.h5,
.mat-tab-label-content {
  font-size: 1.25em;
}

h6,
.h6 {
  font-size: 0.75em;
  color: rgba(0, 0, 0, 0.55);

  &+* {
    margin-top: 0.4em;
  }
}

small,
.text_small {
  font-size: 0.8em;
}

.material-icons,
i,
.material-icons-outlined,
i.outlined,
.material-icons-two-tone,
i.two-tone {
  font-weight: normal;
  font-style: normal;
  font-size: 1.8em;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}

.material-icons,
i {
  font-family: 'Material Icons';

}

.material-icons-outlined,
i.outlined {
  font-family: 'Material Icons Outlined' !important;
}

.material-icons-two-tone,
i.two-tone {
  font-family: 'Material Icons Two Tone' !important;
}

*.overflow-ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block !important;
  overflow: hidden;
}

.green-text {
  color: $green;
}

.red-text {
  color: $red;
}

.light-grey-text {
  color: $light-grey;
}

.faded-black-text {
  color: rgba(0, 0, 0, 0.2);
}
