.member-list-card-content>*+*:not(.toggle-button-row) {
  margin-top: 0.8rem;
}

.clan-rank-number {
  width: 2rem;
}

.no-results-message {
  margin: 8rem auto;
  width: fit-content;
}

.mat-column-clanRank {
  width: 2rem;
}

.mat-column-trophies {
  width: 4rem;
}

// @media only screen and (max-width: 800px) {

//   .table-filters-row {

//     &,
//     div {
//       flex-flow: column wrap;
//       align-items: flex-start;
//     }

//     *+*:not([class^=mat-form]):not([class^=mat-button]) {
//       margin-left: 0;
//       margin-top: 0.8em;
//     }
//   }
// }
