<shared-loading-indicator *ngIf="!dataSource"
  >Retrieving clan members</shared-loading-indicator
>
<div *ngIf="dataSource" class="member-list-card-content fade-in">
  <div
    class="warning-element-highlight-box warning-background message-box"
    *ngIf="showFiltersLoadedFromSessionStorage === true"
  >
    <div class="icon-value-pair">
      <i class="h3">history</i>
      <h6>Previous filters for this clan were saved and have been reloaded.</h6>
      <i
        (click)="showFiltersLoadedFromSessionStorage = false"
        class="cursor-pointer"
        >close</i
      >
    </div>
  </div>
  <div class="row-nowrap">
    <div
      [ngClass]="{
        'warning-element-highlight-box warning-background':
          filtersLoadedFromSessionStorage?.nameSearchValue
      }"
    >
      <h6 class="icon-value-pair">
        <i
          class="h6"
          *ngIf="
            filtersLoadedFromSessionStorage?.nameSearchValue &&
            !showFiltersLoadedFromSessionStorage
          "
          >history</i
        >
        <h6>Filter by name</h6>
      </h6>
      <shared-text-input
        placeholder="Member name"
        [value]="nameSearchValue"
        (valueChange)="nameSearchValue = $event; filterData()"
      ></shared-text-input>
      <!-- <input
        placeholder="Member name"
        [value]="nameSearchValue"
        (keyup)="nameSearchValue = $event.target.value; filterData()"
        [ngClass]="{ 'dark-grey-background': nameSearchValue }"
      /> -->
    </div>
    <div class="row-nowrap">
      <div
        [ngClass]="{
          'warning-element-highlight-box warning-background':
            filtersLoadedFromSessionStorage?.minTrophiesFilterValue
        }"
      >
        <h6 class="icon-value-pair">
          <i
            class="h6"
            *ngIf="
              filtersLoadedFromSessionStorage?.minTrophiesFilterValue &&
              !showFiltersLoadedFromSessionStorage
            "
            >history</i
          >
          <h6>Trophies above</h6>
        </h6>
        <mat-select
          [placeholder]="lowestTrophies"
          [value]="minTrophiesFilterValue"
          (valueChange)="minTrophiesFilterValue = $event; filterData()"
          [ngClass]="{
            'dark-grey-background':
              minTrophiesFilterValue &&
              minTrophiesFilterValue !== lowestTrophies
          }"
        >
          <mat-option
            *ngFor="let value of maxTrophySelectRange"
            [value]="value"
            [disabled]="value >= maxTrophiesFilterValue"
          >
            {{ value }}
          </mat-option>
          <mat-option [value]="lowestTrophies">Any</mat-option>
        </mat-select>
      </div>
      <div
        [ngClass]="{
          'warning-element-highlight-box warning-background':
            filtersLoadedFromSessionStorage?.maxTrophiesFilterValue
        }"
      >
        <h6 class="icon-value-pair">
          <i
            class="h6"
            *ngIf="
              filtersLoadedFromSessionStorage?.maxTrophiesFilterValue &&
              !showFiltersLoadedFromSessionStorage
            "
            >history</i
          >
          <h6>Trophies below</h6>
        </h6>
        <mat-select
          [placeholder]="highestTrophies"
          [value]="maxTrophiesFilterValue"
          (valueChange)="maxTrophiesFilterValue = $event; filterData()"
          [ngClass]="{
            'dark-grey-background':
              maxTrophiesFilterValue &&
              maxTrophiesFilterValue !== highestTrophies
          }"
        >
          <mat-option [value]="highestTrophies">Any</mat-option>
          <mat-option
            *ngFor="let value of maxTrophySelectRange"
            [value]="value"
            [disabled]="value <= minTrophiesFilterValue"
          >
            {{ value }}
          </mat-option>
        </mat-select>
      </div>
    </div>
  </div>

  <div
    class="display-inline-block"
    [ngClass]="{
      'warning-element-highlight-box warning-background':
        filtersLoadedFromSessionStorage?.roleFilterValue
    }"
  >
    <h6 class="icon-value-pair">
      <i
        class="h6"
        *ngIf="
          filtersLoadedFromSessionStorage?.roleFilterValue &&
          !showFiltersLoadedFromSessionStorage
        "
        >history</i
      >
      <h6>Filter by role</h6>
    </h6>
    <div class="toggle-button-row">
      <button
        mat-stroked-button
        [attr.mat-raised-button]="roleFilterValue === 'coLeader' ? '' : null"
        (click)="selectRoleFilter('coLeader')"
      >
        <div>{{ numberOfCoLeaders }} Co-leaders</div>
        <h5>
          {{ numberOfCoLeaders / clan.memberList.length | percent }}
        </h5>
      </button>
      <button
        mat-stroked-button
        [attr.mat-raised-button]="roleFilterValue === 'elder' ? '' : null"
        (click)="selectRoleFilter('elder')"
      >
        <div>{{ numberOfElders }} Elders</div>
        <h5>
          {{ numberOfElders / clan.memberList.length | percent }}
        </h5>
      </button>
      <button
        mat-stroked-button
        [attr.mat-raised-button]="roleFilterValue === 'member' ? '' : null"
        (click)="selectRoleFilter('member')"
      >
        <div>{{ numberOfMembers }} Members</div>
        <h5>
          {{ numberOfMembers / clan.memberList.length | percent }}
        </h5>
      </button>
    </div>
  </div>

  <ng-container *ngIf="dataSource.data !== clan.memberList">
    <div class="button-row">
      <button
        mat-stroked-button
        (click)="clearFilter()"
        class="clear-button-container"
      >
        Clear filter
      </button>
      <h6>
        Showing {{ dataSource.data.length }}/{{ clan.members }} member{{
          clan.members !== 1 ? 's' : ''
        }}.
      </h6>
      <h6>{{ dataSource.data.length / clan.members | percent }}</h6>
      <mat-progress-bar
        [value]="(dataSource.data.length / clan.members) * 100"
      ></mat-progress-bar>
    </div>
  </ng-container>
  <div>
    <table
      mat-table
      [dataSource]="dataSource"
      matSort
      (window:resize)="onResize()"
    >
      <ng-container matColumnDef="clanRank">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Rank</th>
        <td mat-cell *matCellDef="let element">
          <div>
            <h5 class="clan-rank-number">#{{ element.clanRank }}</h5>
            <i
              *ngIf="element.rankChangeIcon"
              [ngClass]="
                element.rankChangeIcon === 'arrow_upward'
                  ? 'green-text'
                  : 'red-text'
              "
              >{{ element.rankChangeIcon }}</i
            >
          </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let element">
          <a (click)="navigateToPlayer(element.tag)">
            {{ element.name }}
          </a>
          <h6 class="bold">{{ element.roleFormatted }}</h6>
        </td>
      </ng-container>
      <ng-container matColumnDef="lastSeenTimeAgo">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          class="align-right"
        >
          Last seen
        </th>
        <td mat-cell *matCellDef="let element" class="align-right">
          <h6 *ngIf="element.lastSeenTimeAgo.length">
            {{ element.lastSeenTimeAgo[0] }}
            {{ element.lastSeenTimeAgo[1] ? element.lastSeenTimeAgo[1] : '' }}
          </h6>
          <h6 *ngIf="!element.lastSeenTimeAgo.length">Online</h6>
        </td>
      </ng-container>
      <ng-container matColumnDef="donations">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          class="align-right"
        >
          Donations
        </th>
        <td
          mat-cell
          *matCellDef="let element"
          class="align-right"
          [ngClass]="
            element.donations < element.donationsReceived &&
            element.donations < clan.averageDonationsFromCurrentMembers
              ? 'red-text'
              : 'green-text'
          "
        >
          {{ element.donations }}
        </td>
      </ng-container>
      <ng-container matColumnDef="donationsReceived">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          class="align-right"
        >
          Received
        </th>
        <td
          mat-cell
          *matCellDef="let element"
          class="align-right"
          [ngClass]="
            element.donationsReceived > element.donations &&
            element.donationsReceived > clan.averageDonationsFromCurrentMembers
              ? 'red-text'
              : 'green-text'
          "
        >
          {{ element.donationsReceived }}
        </td>
      </ng-container>
      <ng-container matColumnDef="expLevel">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          class="align-right"
        >
          <div>Level</div>
        </th>
        <td mat-cell *matCellDef="let element" class="align-right">
          <div [ngClass]="{ h6: element.expLevel === 13 }">
            {{ element.expLevel }}
          </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="trophies">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          class="align-right"
        >
          Trophies
        </th>
        <td mat-cell *matCellDef="let element" class="align-right">
          <div
            [ngClass]="{
              'red-text': element.trophies < clan.requiredTrophies,
              'green-text': element.trophies > clan.averagePlayerTrophies
            }"
          >
            <i>emoji_events</i>
            <span>{{ element.trophies }}</span>
          </div>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="columns"></tr>
      <tr mat-row *matRowDef="let row; columns: columns"></tr>
    </table>
    <h4 class="no-results-message" *ngIf="dataSource.filteredData.length === 0">
      No members match filter criteria
    </h4>
  </div>
</div>
