<div *ngIf="showKey" class="win-loss-key">
  <div class="warlog-item-label-and-value-pair">
    <h6>Wins</h6>
    <h5>{{ wins }}</h5>
  </div>
  <div class="warlog-item-label-and-value-pair">
    <h6>Losses</h6>
    <h5>{{ losses }}</h5>
  </div>
  <div
    class="warlog-item-label-and-value-pair"
    *ngIf="totalBattles !== wins + losses"
  >
    <h6>Ties</h6>
    <h5>{{ totalBattles - wins - losses }}</h5>
  </div>
  <div class="warlog-item-label-and-value-pair">
    <h6>Total battles</h6>
    <h5>{{ totalBattles }}</h5>
  </div>
</div>
<div class="win-loss-chart light-grey-background">
  <div
    *ngIf="wins > 0"
    class="win-loss-bar green-background"
    [style.width]="(wins / totalBattles) * 100 + '%'"
  >
    <div>
      <h5 *ngIf="!showKey">{{ wins }}</h5>
      <i class="h4">check</i>
    </div>
  </div>
  <div
    *ngIf="losses > 0"
    class="win-loss-bar red-background"
    [style.width]="(losses / totalBattles) * 100 + '%'"
  >
    <div>
      <i class="h4">close</i>
      <h5 *ngIf="!showKey">{{ losses }}</h5>
    </div>
  </div>
</div>
