@import '../../../styles/colors.scss';

.search-box-and-results {
  position: relative;
  z-index: 2;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.input-icon {
  position: absolute;
  top: calc(50% - 0.8rem);
  left: 0.4rem;
  opacity: 0;
  transition: opacity 0.1s linear;
  pointer-events: none;

  &--show {
    opacity: 1;
    pointer-events: all;
  }
}

.loading-icon {
  animation: spin 1s forwards infinite linear;
}

.clear-icon {
  left: unset;
  right: 0.4rem;
  cursor: pointer;
}

.search-results-container {
  position: absolute;
  top: 100%;
  right: 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  pointer-events: none;
}

.search-results {
  margin-top: 0.8rem;
  max-width: calc(100vw - 1.6rem);
  border-radius: 0.4rem;
  background-color: white;
  color: rgba(0, 0, 0, 0.9);
  overflow-x: visible;
  z-index: 2;
  box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.2);
  pointer-events: all;
  &.recently-visited-results .search-results-item {
    padding: 0.4rem 0.4rem 0.4rem 0.8rem;

    &--no-click {
      padding: 0.4rem;
      margin-left: -2.2rem;
    }
  }
}

.search-results-item {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem;
  white-space: nowrap;
  cursor: pointer;

  > * {
    text-align: right;
    margin: 0;

    &:first-child {
      text-align: left;
      flex: 1 1 auto;
    }
  }

  & + & {
    border-top: 1px solid $light-grey;
  }

  &:hover:not(&--no-click) {
    background-color: rgba(0, 0, 0, 0.05);
  }

  &--no-click {
    cursor: auto;
    margin-left: -2.6rem;
    border-radius: 0.4rem 0.4rem 0 0.4rem;
  }

  > * + * {
    width: 4rem;
  }

  & > * + * {
    margin-left: 0.8rem;
  }
}

.search-click-catcher {
  position: absolute;
  z-index: 1;
  pointer-events: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.2s linear;

  &--show {
    opacity: 1;
    pointer-events: all;
  }
}

.icon-value-pair > * + * {
  margin-left: 0.8rem;
}
