@import '../../../../styles/colors.scss';

.clan-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  h6 {
    margin-top: 0;
  }

  > * {
    width: 6rem;

    &.name-element {
      margin-left: -0.4rem;
      padding: 0.4rem;

      > * {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        display: inline-block;
        max-width: 100%;
      }
    }

    &:not(:first-child) {
      margin-left: 0.8rem;
    }

    &:not(:nth-child(2)) {
      flex: 1 1 1%;
    }

    &:last-child {
      text-align: right;
      flex: unset;
      width: auto;
    }
  }
}

.clan-row,
.row-nowrap {
  > *:first-child {
    width: 0 0 3rem;
  }
}

.row-nowrap {
  margin-top: 0.8rem;
  align-items: center;
}

mat-divider {
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}

current-river-race-clan-item {
  border-radius: 0;
  transition: border-radius 0.1s;

  &.elevate-z {
    background-color: $card-background;
    border-radius: 0.8rem;
    overflow: hidden;
  }
}

.clan-current-race-click-catcher {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.1s;

  &.show-click-catcher {
    opacity: 1;
    pointer-events: all;
  }
}
