<shared-loading-indicator *ngIf="!currentRiverRace">
  Loading current race
</shared-loading-indicator>
<div *ngIf="currentRiverRace" #currentRiverRaceContainer>
  <ng-container *ngFor="let clan of currentRiverRace.clans; let index = index">
    <mat-divider *ngIf="index > 0"></mat-divider>
    <current-river-race-clan-item
      [clan]="clan"
      [expand]="expandedClan === clan.tag"
      [disableClanNameLink]="currentRiverRace.clan.tag === clan.tag"
      (collapseThisClan)="collapseClan()"
      (setExpandedClanByTag)="toggleExpandedClan(clan.tag)"
      [ngClass]="{ 'elevate-z': expandedClan === clan.tag }"
    ></current-river-race-clan-item>
  </ng-container>
</div>
<div
  class="clan-current-race-click-catcher"
  [ngClass]="{ 'show-click-catcher': expandedClan }"
  (click)="collapseClan()"
></div>
