@import '../../../../styles/colors.scss';

.warlog-pages-container>*+*,
.card-header {
  margin-top: 0.8rem !important;
}

.last-10-war-averages {
  margin: -0.8rem -1.6rem 0;
  padding: 0.8rem 1.6rem 0;

  >div {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    margin-top: 0.8rem;

    >div {
      flex: 0 1 33%;

      *:not(h6)+* {
        margin-top: 0.4rem;
      }

      >button[class*="mat"] {
        display: inline-block;
        padding: 0.4rem;
        border-radius: 0.4rem;
        margin-top: 0.4rem;
      }
    }
  }
}

.warlog-win-loss-bar-button-row {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  :first-child {
    flex: 1 1 auto;

    +* {
      margin-left: 1.6rem;
    }
  }
}

.warlog-item-information {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: flex-start;

  >* {
    flex: 0 1 33%;
  }
}

mat-divider {
  margin: 0.8rem 0;
}

.warlog-item {
  >*+* {
    margin-top: 0.8rem;
  }

  &:last-child {
    padding-bottom: 0.8rem;
  }
}

.page-label {
  margin: 0.8rem 0;
}

.show-more-button {
  margin-top: 0.8rem;
}
