@import '../../../../styles/colors.scss';

.clan-information-panel {



  >*+*:not(.top-level-information) {
    margin-top: 0.8em;
  }
}

.clan-information-panel-title {
  margin: -0.8em -1.6em;
  padding: 0.8em 1.6em;
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
  justify-content: space-between;
}

.top-level-information {
  display: flex;
  flex-flow: row wrap;
  text-transform: capitalize;

  >div {
    flex: 1 1 auto;

    >div {
      margin-top: 0.8rem;

      >*+div {
        display: flex;
        flex-flow: nowrap;
        align-items: center;

        >*+* {
          margin-left: 0.4rem;
        }
      }
    }
  }
}
