<shared-loading-indicator *ngIf="!clan"
  >Loading clan data</shared-loading-indicator
>
<div class="clan-information-panel fade-in" *ngIf="clan">
  <div class="card-header dark-grey-background">
    <div>{{ clan.name }}</div>
    <h5>{{ clan.tag }}</h5>
  </div>
  <div>
    <h6>Description</h6>
    <div>{{ clan.description }}</div>
  </div>
  <div class="top-level-information">
    <div>
      <div>
        <h6>War trophies</h6>
        <div class="icon-value-pair">
          <i class="outlined">emoji_events</i>
          <h5>{{ clan.clanWarTrophies }}</h5>
        </div>
      </div>
      <div>
        <h6>Required trophies</h6>
        <div class="icon-value-pair">
          <i>emoji_events</i>
          <h5>{{ clan.requiredTrophies }}</h5>
        </div>
      </div>
    </div>
    <div>
      <div>
        <h6>Clan score</h6>
        <div class="icon-value-pair">
          <i>military_tech</i>
          <h5>{{ clan.clanScore }}</h5>
        </div>
      </div>
      <div>
        <h6>Donations</h6>
        <div class="icon-value-pair">
          <i>repeat</i>
          <h5>{{ clan.donationsPerWeek }}</h5>
        </div>
      </div>
    </div>
    <div>
      <div>
        <h6>Members</h6>
        <div class="icon-value-pair">
          <i>people</i>
          <h5>{{ clan.members }}/50</h5>
        </div>
      </div>
      <div>
        <h6>Type</h6>
        <div class="icon-value-pair">
          <i>assignment_ind</i>
          <h5>{{ clan.type }}</h5>
        </div>
      </div>
    </div>
    <div>
      <div>
        <h6>Avg trophies</h6>
        <div class="icon-value-pair">
          <i>emoji_events</i>
          <div>{{ clan.averagePlayerTrophies }}</div>
        </div>
      </div>
      <div>
        <h6>Avg donations</h6>
        <div class="icon-value-pair">
          <i>repeat</i>
          <div>{{ clan.averageDonationsFromCurrentMembers }}</div>
        </div>
      </div>
    </div>
  </div>
  <mat-tab-group *ngIf="clan">
    <mat-tab label="Members">
      <clan-member-list-table [clan]="clan"></clan-member-list-table>
    </mat-tab>
    <mat-tab label="Current boat race">
      <ng-template matTabContent>
        <clan-current-river-race [clanTag]="clan.tag"></clan-current-river-race>
      </ng-template>
    </mat-tab>
    <mat-tab label="Previous boat races" disabled>
      <ng-template matTabContent> </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
